<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>A.3. Introductory viewpoint</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>A.3. Introductory viewpoint</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/c206e8c5.png" alt="A.3. Introductory viewpoint" usemap="#c206e8c5map">
			<map name="c206e8c5map">
								<area shape="rect" coords="426,252,546,329" href="../elements/ebc40ec0.html"  target="element">
								<area shape="rect" coords="554,252,667,329" href="../elements/75e68ce2.html"  target="element">
								<area shape="rect" coords="786,252,890,329" href="../elements/b0436ed4.html"  target="element">
								<area shape="rect" coords="898,252,1002,329" href="../elements/bbd0d434.html"  target="element">
								<area shape="rect" coords="674,252,778,329" href="../elements/2fa7b6ea.html"  target="element">

						<area shape="rect" coords="418,220,1011,357" href="../elements/f12ce07a.html"  target="element">
						<area shape="rect" coords="694,421,815,473" href="../elements/67dceeb5.html"  target="element">
						<area shape="rect" coords="402,152,522,207" href="../elements/f099e9d9.html"  target="element">
						<area shape="rect" coords="527,152,647,207" href="../elements/44fa42f2.html"  target="element">
						<area shape="rect" coords="694,44,987,99" href="../elements/b2db8f2f.html"  target="element">
						<area shape="rect" coords="755,152,875,207" href="../elements/e6e72828.html"  target="element">
						<area shape="rect" coords="166,152,286,207" href="../elements/01175266.html"  target="element">
								<area shape="rect" coords="154,260,266,333" href="../elements/2c03d8b2.html"  target="element">

						<area shape="rect" coords="138,220,286,357" href="../elements/c4931541.html"  target="element">
						<area shape="rect" coords="874,152,994,207" href="../elements/13159ef6.html"  target="element">
						<area shape="rect" coords="10,419,339,474" href="../elements/f75ee134.html"  target="element">
						<area shape="rect" coords="362,419,667,474" href="../elements/c69891e9.html"  target="element">
						<area shape="rect" coords="850,419,970,474" href="../elements/8a57698c.html"  target="element">
						<area shape="rect" coords="1023,220,1154,357" href="../elements/9a7319b1.html"  target="element">
						<area shape="rect" coords="1029,152,1149,207" href="../elements/612bc650.html"  target="element">
						<area shape="rect" coords="1029,44,1149,99" href="../elements/0bd5d6ac.html"  target="element">
						<area shape="rect" coords="10,44,339,99" href="../elements/81448d38.html"  target="element">
						<area shape="rect" coords="426,44,647,99" href="../elements/780ac869.html"  target="element">
						<area shape="rect" coords="34,152,154,207" href="../elements/39bfad87.html"  target="element">
						<area shape="rect" coords="290,220,403,357" href="../elements/faf39a14.html"  target="element">
						<area shape="rect" coords="10,220,130,357" href="../elements/43b9ccad.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/f12ce07a.html" target="element"> Tjenesteutvikling </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/ebc40ec0.html" target="element"> Data fra andre parter oppdages </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/75e68ce2.html" target="element"> Data evalueres med tanke p&#229; gjenbruk </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/b0436ed4.html" target="element"> Utveksling defineres </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/bbd0d434.html" target="element"> Digital tjeneste utvikles </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/2fa7b6ea.html" target="element"> Skriver avtale om utveksling </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										
										<tr><td> <a href="../elements/67dceeb5.html" target="element"> Seres </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/f099e9d9.html" target="element"> S&#248;k etter datasett </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/44fa42f2.html" target="element"> Vurder om datasettet kan benyttes </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/b2db8f2f.html" target="element"> Tjenesteutvikler gruppe </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/e6e72828.html" target="element"> Ta i bruk data </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/01175266.html" target="element"> Registrere egen katalog (h&#248;stingstjeneste) </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/c4931541.html" target="element"> Administrer tilgang til egen katalog </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/2c03d8b2.html" target="element"> Registrer egen katalog </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										
										<tr><td> <a href="../elements/13159ef6.html" target="element"> Utvikle tjeneste </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/f75ee134.html" target="element"> Lokalt verkt&#248;y for virksomhetsarkitektur </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/c69891e9.html" target="element"> Felles datakatalog </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/8a57698c.html" target="element"> Altinn </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/9a7319b1.html" target="element"> Analyse </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										<tr><td> <a href="../elements/612bc650.html" target="element"> Analysere datasett </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/0bd5d6ac.html" target="element"> Analytiker </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										<tr><td> <a href="../elements/81448d38.html" target="element"> Dataeier </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										<tr><td> <a href="../elements/780ac869.html" target="element"> Forretningsutvikler </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										<tr><td> <a href="../elements/39bfad87.html" target="element"> Registrere datasett </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/faf39a14.html" target="element"> Hent katalogdata </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										<tr><td> <a href="../elements/43b9ccad.html" target="element"> Forvalte egen oversikt over datasett </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>